html, body {

    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.user-form {
    width: 80%;
    max-width: 400px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 1px 8px 16px rgba(57, 20, 223, 0.1);
}

.user-form h2 {
    color: #333;
    margin-bottom: 15px;
    
    
}

.user-form label {
    display: block;
    font-weight: bold;
    color: #555;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.user-form input {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 1px 4px 8px rgba(57, 20, 223, 0.1);
}

.user-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #489af1;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-form button:hover {
    background-color: #0056b3;
}
