* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
  }

  @font-face {
    font-family: "Humane";
    src: url('../fonts/Humane-Regular.woff2') format('woff2'),
         url('../fonts/Humane-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


  .dashboard-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    position: relative;
  }

  header .logo {
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #1F49A4;
  }

  .logo {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Humane";
    color: #1F49A4
  }

  nav {
    position: absolute;
    right: 2rem;
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    color: black;
    border: 1px solid #1F49A4;
    border-radius: 9999px;
    transition: background-color 0.3s, color 0.3s;
  }

  .nav-link:hover {
    background-color: #1F49A4;
    color: #f9f9f9;
    border: 1px solid #1F49A4;
  }


  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    transition: 0.4s;
  }

  main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
  }



  .text-content {
    flex: 1;
  }

  .text-content p {
    font-size: 1.125rem;
  }

  .image-gallery {
    flex: 1;
    display: flex;
    gap: 1rem;
  }

  .image-wrapper {
    flex: 1;
    height: 160px;
    position: relative;
  }

  .image-wrapper {
    flex: 1;
    height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-link {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-caption {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease;
    color: #000;
  }

  footer {
    text-align: center;
    padding: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  footer .brand {
    margin-bottom: 0.5rem;
  }

  /* New stuff 2024-11-14 */


.allContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
}

.dailyQuoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;

  border-radius: 10px;
}


.trinity-container {
  position: relative;
  width: 1300px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px 40px 20px;
}

.dailyActivityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px 100px 20px;
  width: 400px;
  height: 430px;
  border: solid 1px #25252515;
  background-color: #f9f9f9;
  box-shadow: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hotStreakContainer,
.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px 100px 20px;
  width: 400px;
  height: 400px;
  background-color: #f9f9f9;
  box-shadow: none;
  border: solid 1px #25252515;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hotStreakContainer:hover,
.chartContainer:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px 2px rgb(0 0 0 / 30%);
}


  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .nav-links.open {
      display: flex;
    }

    .content {
      flex-direction: column;
    }

    .image-gallery {
      flex-direction: column;
    }

    .image-wrapper {
      height: 200px;
    }
  }
